*{
  margin: 0;
  padding: 0;
}
#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  background-color: rgb(31, 162, 212);
  height: 5rem;
  flex-wrap: wrap;
}
#odiv{
  font-size: 2rem;
}
#tdiv{
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}
#abc{
  text-decoration: none !important;
  color: black;
}
#myform{
  width: 30rem;
  margin-top: 5rem;
  color: rgb(31, 162, 212) ;
  font-weight:600 !important;
}
#smm{
  color: rgb(31, 162, 212) !important;
}
h2{
  text-align: center;
  color: rgb(31, 162, 212) !important;
}
input{
  border: 2px solid rgb(31, 162, 212) !important;
}
#button{
  background-color: rgb(31, 162, 212) !important;
  border: 2px solid rgb(31, 162, 212) !important;
}
#auth{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
button{
  background-color: rgb(31, 162, 212) !important;
  border: 2px solid rgb(31, 162, 212) !important;
  font-weight: 490;
}

img{
  width: 20rem !important;
  height: 300px !important;
  z-index: -1;

}
#main{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: -1;
}
.card{
  width: 20rem;
  height: 20rem !important;
  z-index: -1;
}
.card-body{
  width: 20rem !important;
  height: 5rem !important;
  z-index: 100;
}
.list-group{
  width: 20rem !important;
}
.recipeform{
    margin-left: 33rem;
}

@media (width <= 725px ){
  #nav{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  img{
    height: 200px !important;
  }
  #main{
    flex-direction: column !important;
    gap : 6rem !important
  }
   
}
@media (width < 537px) {
   #nav{
    padding-left: 0;
    padding-right: 0;
   }
}